body {
    background-color: #393E46;
  }

  h1, h3 {
    margin: 30px;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #232931;
    font-size: 3rem;
    color: #4ECCA3;
  }
  
  p {
    font-size: 1.5rem;
    color: #4ECCA3;
    font-family: 'Indie Flower', cursive;
  }

 li {
    font-size: 1.5rem;
    color: #4ECCA3;
    font-family: 'Indie Flower', cursive;
  }

  ul {
    list-style-type: none;
  }

  button {
    border: 0;
    line-height: 2.5;
    padding: 0 10px;
    margin: 10px 0;
    font-size: 0.9rem;
    text-align: justify;
    color: #000000;
    text-shadow: 1px 1px 1px rgb(255, 255, 255);
    border-radius: 5px;
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
  }
  
  button:hover {
    background-color: rgb(140, 185, 182);
  }
  
  button:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
  }

 /* classes */

.container {
    width: 70%;
    margin: auto;
    text-align: center;
  }

.styled {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    margin: 20px 0;
    font-size: 1rem;
    text-align: justify;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
  }

.styled:hover {
    background-color: rgba(255, 0, 0, 1);
  }
  
.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
  }

.p {
    font-size: 1.5rem;
    color: #4ECCA3;
    font-family: 'Indie Flower', cursive;
  }